<div class="what_is_this_site">
  <div>
    <a rel="nofollow" href="https://tutorial.perlzemi.com/">Perl</a>で数値計算や配列演算のパフォーマンスが欲しいなぁ。<br>そんなときは、<a rel="nofollow" href="https://c.perlzemi.com/">C言語</a>を使って関数を記述して、Perlへバインディングするという手法があります。<br>多くのソフトウェアの基盤であり、基礎でもあるC言語はPerlと連携できます。<br>C言語/C++で書かれたライブラリをPerlから呼び出すこともできます。<br>
    <a rel="nofollow" href="https://deeplearning.perlzemi.com/">ディープラーニング</a>で利用されるGPUで計算するためのCuda言語もバインディング可能です。
  </div>
</div>

<div class="perlri_link">
  <a href="http://www.perlri.com">
    ゆとりある<br>エンジニアライフを創造中<br>Perl元気塾
  </a>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>