<h2>Perlバインディング入門 - C言語/C++/Cudaの呼び出し</h2>

Perlのバインディング入門です。バインディングとは、PerlからC言語/C++/Cudaなどで書かれたソースコードをPerlから呼び出せるようにすることをいいます。

CやC++でコードを記述すると、最高のパフォーマンスを得ることができます。画像処理・動画処理・信号処理・科学技術計算・機械学習など、数値計算や配列の演算のパフォーマンスが重要視される場合は、C言語やC++のライブラリをPerlからバインディングするというのは、良い解決策のひとつです。

近年では、<a href="https://deeplearning.perlzemi.com/">ディープラーニング</a>で並列計算を行うためにGPUが利用されますが、GPUを利用するためのCuda言語もバインディングも可能です。nvccというコンパイラで、コンパイルされますが、C言語/C++の記法が採用されています。

<h3>XSを使ったバインディング</h3>

XSを使ったバインディング手法があります。Perlにおけるもっとも標準的な方法です。型変換は手動で、XSのAPIを覚えることが必要で、C言語をバインディングするPerlモジュールとして作成する必要があります。

<ul>
  <li><a href="https://perlzemi.com/blog/20100809127859.html">XS入門 - C/C++言語のバインディング</a></li>
</ul>

<h3>Inlineモジュールを使ったバインディング</h3>

Inlineモジュールを使ったバインディング手法があります。C言語のランタイム実行が可能です。型変換は手動です。

<a href="https://metacpan.org/pod/Inline::C">Inline::C</a> <a href="https://metacpan.org/pod/distribution/Inline-CPP/lib/Inline/CPP.pod">Inline::CPP</a>

<h3>FFIライブラリを使ったバインディング</h3>

FFIライブラリを使ったバインディング手法があります。C言語のランタイム実行が可能です。FFI仕様に基づいた呼び出しで、直接共有ライブラリ(.so)を呼び出すことができます。型変換は手動です。

<a href="https://metacpan.org/pod/FFI">FFI</a>, <a href="https://metacpan.org/pod/FFI::Raw">FFI::Raw</a>, <a href="https://metacpan.org/pod/FFI::Platypus">FFI::Platypus</a>

<h3>SPVMを使ったバインディング</h3>

SPVMを使ったバインディング手法があります。SPVMは、Perlバインディングのいくつかの課題を解決するために、木本裕紀が開発している2021年9現在、完成を目指して頻繁に更新されている開発段階のPerlモジュールです。完成度は、95%を超えていますが、試験段階で仕様上の問題点がいくつかでてきたり、実現したい必要な機能がいくつか足りない、ドキュメントが不正確という状況です。

<a href="https://metacpan.org/pod/SPVM">SPVM</a>

<div class="what_is_this_site">
  <div>
    <a rel="nofollow" href="https://perlzemi.com/">Perl</a>で数値計算や配列演算のパフォーマンスが欲しいなぁ。<br>そんなときは、<a rel="nofollow" href="https://c.perlzemi.com/">C言語</a>を使って関数を記述して、Perlへバインディングするという手法があります。<br>多くのソフトウェアの基盤であり、基礎でもあるC言語はPerlと連携できます。<br>C言語/C++で書かれたライブラリをPerlから呼び出すこともできます。<br>
    <a rel="nofollow" href="https://deeplearning.perlzemi.com/">ディープラーニング</a>で利用されるGPUで計算するためのCuda言語もバインディング可能です。
  </div>
</div>

<h3>バインディングの基礎知識</h3>

Perlバインディングで必要となる基礎知識です。

<h4>Perlプログラミング言語</h4>

Perlプログラミング言語の講座です。

<ul>
  <li><a href="https://perlzemi.com/">Perlゼミ - Perlプログラミング入門</a></li>
</ul>

<h4>C言語</h4>

C言語の講座です。

<ul>
  <li><a href="https://c-language-perl-genki.com/">Perl XSユーザーのためのC言語入門</a></li>
</ul>
